export SOURCE_TYPE='ftps'
export SOURCE_HOST='0.0.0.0'
export SOURCE_PORT=23
export SOURCE_USERNAME='jetbrains'
export SOURCE_PASSWORD='jetbrains'
export TARGET_TYPE='http'
export TARGET_HOST='https://55413b45.ngrok.io/reconciliation/upload-file'
export TARGET_HEADER='Authorization:Basic 12345'
export TARGET_UPLOAD_PARAM='file:file;channel:CIMB;statement:withdrawal'
export TIMEOUT=60
export CRON_NAME='get-sample-txt'
export CRON_EVERY=2
export CRON_TYPE='second'
export CRON_SPECIFIC_DAY='None'
export CRON_AT='14:32'
export TASK_FOLDER='/share/dumps'
export TASK_FILE_PREFIX='\d*_\d*_\d*.\d*.\d*.csv$'
export TASK_FILE_PREFIX_DELIMITER='.'
export TASK_FILE_PREFIX_INDEX=1
export TASK_FILE='sample.txt'
