SOURCE_TYPE='sftp'
SOURCE_HOST='0.0.0.0'
SOURCE_PORT=22
SOURCE_USERNAME='foo'
SOURCE_PASSWORD='pass'

TARGET_TYPE='http'
TARGET_HOST='http://localhost:8080/upload-file'
TARGET_HEADER='Authorization:Basic 12345'
TARGET_UPLOAD_PARAM='file:file;statement_type:withdrawal'

CRON_NAME='get-sample-txt'
CRON_EVERY=5
CRON_TYPE='second'
CRON_SPECIFIC_DAY='None'
CRON_AT='14:32'

TASK_FOLDER='/upload'
TASK_FILE_PREFIX='\d*_\d*_\d*.\d*.\d*.csv$'
TASK_FILE_PREFIX_DELIMITER='.'
TASK_FILE_PREFIX_INDEX=1
TASK_FILE='sample.txt'
